//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Files ------------------------------
//  ------------------------------------------------------------------------------

.modal {
  $self: &;
  $maxWidth: 728px;
  $maxHeight: 512px;
  $sizeWidth: 728px;
  $sizeHeight: 512px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  opacity: 0;
  pointer-events: none;
  transition: opacity $timeTrans linear;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }

  &__dialog {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    z-index: 9999;
    max-width: $maxWidth;
    max-height: $maxHeight;    
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;

    &--size {
      width: $sizeWidth;
      height: $sizeHeight;
    }
  }

  &__close {
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    margin-right: 16px;
    margin-top: 16px;
    opacity: 1;
    transition: opacity $timeTrans linear;

    &:hover {
      cursor: pointer;
      opacity: .5;
    }
  }

  &__icon--close {
    display: block;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;   

    #{ $self }__svg {

      #{ $self }__path {
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
        stroke: #000;
      }
    }
  }

  &--visible {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
  }
}