//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Pages: Панель администратора ------------------------------
//  ------------------------------------------------------------------------------
.admin-panel{
  margin-top: calc(80px + 100px);
  margin-bottom: calc(80px + 100px);
  @media(max-width: $breakpoint-sm){
    margin-top: calc(80px);
    margin-bottom: calc(80px);
  }
}

.ap-admin-panel {

	&__container {

	}

	&__title {

	}

  &__text {
    margin-bottom: 20px;
	}

	&__content {

	}

	&__form {
		border: 3px solid $mainBlack;
		border-radius: 10px;
		padding: 20px;
	}

	&__select {

	}

	&__input {

	}

}
