//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Components Files ------------------------------
//  ------------------------------------------------------------------------------
// +++
.btn {
  $self: &;
  @include flex-center;
  @include transition-colors;
  @include setText(18px, 24px, 700);
  text-decoration: none;

  // $btnBackground: $mainBackground;
  // $btnTextColor: $mainText;
  // $btnBorderColor: $mainText;
  // //
  // $btnBackgroundHover: $mainBLueBtn;
  // $btnTextColorHover: $mainText;
  // $btnBorderColorHover: $mainBackground;

  background-color: #453F55;
  color: $btnTextColor;
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  min-height: 35px;
  max-height: 35px;
  outline: none;
  user-select: none;
  border: 1px solid $btnBorderColor;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $btnBackgroundHover;
    color: $btnTextColorHover;
    border: 1px solid $btnBorderColorHover;
  }

  // Custom btn
  &--nobg {
    background-color: unset;
  }
}

.blue-btn{
  border-color: $mainBackground;
  background-color: $btnBackgroundHover;
  color: $btnTextColor;
  padding: 30px 0;
  max-width: 300px;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $btnBorderColorHover;
    color: $btnTextColorHover;
    border: 1px solid $btnTextColorHover;
  }
}
